{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{profile.picture}}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ profile.name }}</h1>
              <p>{% for goal in profile.goals %}<span class="badge badge-pill badge-primary mr-2">{{goal}}</span>{%endfor%}Рейтинг: {{ profile.rating }} Ставка:
                {{ profile.price }} / час</p>
              <p>{{ profile.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {%for day,schedule in profile.free.items()%}
              {%for alias, weekday in weekdays.items()%}
              {%if day == alias %}
              <h6 class="mt-4">{{weekday}}</h6>
              {%endif%}
              {%endfor%}
              {% if True is not in schedule.values() %}
              <p>Нет свободных уроков</p>
              {% endif %}
              {% for time,is_free in schedule.items() %}
              {% if is_free == True %}
              <a href="/booking/{{profile.id}}/{{day}}/{{time}}" class="btn btn-outline-success mr-2">{{time}} свободно</a>
              {% endif %}
              {% endfor %}
              {%endfor%}
            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}